header {
    ul {
        li {
            cursor: pointer;
            transition: background 0.3s;
            padding: .2em 0.4em;
            border-radius: 0.2em;

            &:hover {
                background-color: #fff3;
            }

        }
    }

    a {
        opacity: 0.5;
        transition: opacity 0.3s;
    }

    a.active {
        opacity: 100%;
        font-weight: bold;
    }
}